#id_name{
	border-radius: 3px;
	border: 1px solid #111;
	width: 200px;
	height: 20px;
	margin: 3px;
}
#id_username{
	border-radius: 3px;
	border: 1px solid #111;
	width: 200px;
	height: 20px;
	margin: 3px;
}
#id_email{
	border-radius: 3px;
	border: 1px solid #111;
	width: 200px;
	height: 20px;
	margin: 3px;
}
#id_job{
	border-radius: 3px;
	border: 1px solid #111;
	width: 200px;
	height: 20px;
	margin: 3px;
	background-color: #fff;
}
#id_question{
	border-radius: 3px;
	border: 1px solid #111;
	width: 200px;
	height: 20px;
	margin: 3px;
}
#id_answer{
	border-radius: 3px;
	border: 1px solid #111;
	width: 200px;
	height: 20px;
	margin: 3px;
}
#id_category{
	border-radius: 3px;
	border: 1px solid #111;
	width: 200px;
	height: 20px;
	margin: 3px 0 0 0;
	background-color: #fff;
}
#id_searchbox{
	border-radius: 3px;
	border: 1px solid #111;
	width: 200px;
	height: 20px;
	margin: 0;





