*{
	padding: 0px;
	margin: 0px;
	font-family: ubuntu;
	text-align: left;
	outline: none;
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	position: relative;
	opacity: 1;
}
body{
	background-color: #333;
	/*background-image: url(/static/img/animated_lightning1.gif);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 1400px 1000px;*/
	width: 100%;
	height: 100%;
	text-align: center;
	color: #000;
	display: box;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-pack: start;
	-moz-box-pack: start;
}
/*#background1{
	background-image: url(/static/img/animated-lightning2.gif);
	background-position: center top;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
#background2{
	background-image: url(/static/img/animated-lightning3.gif);
	background-position: center top;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}*/
header, footer, section, nav, aside, hgroup{
	
}
img{
	border: 0px;
}
container{
	width: 1000px;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	text-align: left;
}
a:link{
	color: blue;
	text-decoration: none;
}
a:hover{
	color: blue;
	text-decoration: none;
}
a:visited{
	color: blue;
	text-decoration: none;
}
a:active{
	color: blue;
	text-decoration: none;
}
ul{
	list-style: none;
}
ul li{
	
}
ol{
	list-style: none;
}
ol li{
	
}
li{
	white-space:nowrap;
	border-collapse: collapse;
}
p{
	color: #111;
	text-align: left;
}
sub{
	
}
header{
	height: 36px;
	width: 100%;
	background: #000; /* Old browsers */
	background: -moz-linear-gradient(top, #222 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #222 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #222 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #222 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #222 0%,#000000 100%); /* W3C */
}
footer{
	max-width: 1000px;
}
aside{
	width: 300px;
	margin-left: 16px;
}
#nav-logo li{
	
}
#nav-links li{
	margin-right: -1px;
	margin-left: 1px;
}
#login-links li{
	margin-right: 1px;
	margin-left: -1px;
}
#accordion div a:link{
	color: blue;
	text-decoration: none;
}
#accordion div a:hover{
	color: blue;
	text-decoration: none;
}
#accordion div a:visited{
	color: blue;
	text-decoration: none;
}
#accordion div a:active{
	color: blue;
	text-decoration: none;
}
#navbar{
	width:1000px;
	padding-top: 0px;
	padding-bottom: 8px;
}
#logo{
	height: 25px;
	padding-right: 3px;
	padding-top: 6px;
}
#logo-text{
	margin-top: 4px;
}
#logo-text-link{
	color: #999;
	margin-right: 10px;
	margin-top: 3px;
	font-size: 1.6em;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	text-decoration: none;
}
#nav-logo{
	
}
#nav-links{
	margin-top: 5px;
}
#login-links{
	margin-top: 5px;
}
#form-field{
}
#employeelist{
	width: 500px;
}
#singleemployee{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
}
#queue{
	
}
#projectlist{
	
}
#project-search{
	width: 200px;
}
#singleproject-row{
	margin-top: 3px;
	margin-bottom: 0;
}
#singleprojectinfo{
	margin: 3px 3px 3px 0;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
}
#comments li:nth-child(odd){
	background: #ccc;
}
#comments li:nth-child(even){
	background: #fff;
}
#comment{
	padding: 10px;
	border-radius: 2px;
}
#register_div{
	border: 1px solid #000;
}
#terms{
	text-align: left;
}
#disclaimer{
	font-size: 1.05em;
}
#topView{
	margin-top: 3px;
}
#view34{
	margin-right: 0;
	margin-top: 3px;
}
#leftView{
	margin-left: 0;
	margin-top: 3px;
}
#frontView{
	margin-top: 3px;
}
#rightView{
	margin-right: 0;
	margin-top: 3px;
}
#exampleView{
	margin-top: 3px;
	margin-left: 0;
	margin-right: 7px;
}
#model-images{
	max-height: calc(400px);
}
#toolbox{
	margin-top: -2px;
	padding: 0;
	height: 28px;
}
#general-tab{
	height: 300px;
}
.nav-dropdown{
	margin-top: -2px;
	padding: 0;
}
.modelview{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	margin: 3px;
}
.thumb{
	max-width: 100px;
	max-height: 100px;
}
.box{
	display: box;
	display: -webkit-box;
	display: -moz-box;
}
.left{
	float: left;
}
.right{
	float: right;
}
.inline{
	display: inline-block;
}
.horizontal{
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
}
.vertical{
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
}
.fill{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
}
.flex{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
}
.center{
	margin: 0 auto;
}
.center-contents{
	text-align: center;
}
.center-all{
	-webkit-box-pack: center;
	-moz-box-pack: center;
}
.dropdown{
	border-radius: 3px;
	border: 1px solid #111;
	width: 200px;
	height: 20px;
	margin: 3px;
	background-color: #fff;
}
.bottom-round{
	border-radius: 3px;
}
.background{
	background-color: black;
	border: 3px solid green;
}
.left-round{
	border-radius: 6px 0 0 6px;
}
.right-round{
	border-radius: 0 6px 6px 0;
}
.border-right{
	border-right: 1px solid #eee;
}
.border-left{
	border-left: 1px solid #eee;
}
.nav-btn{
	background-color: inherit;
	color: #eee;
	height: 20px;
	padding: 3px;
}
.nav-btn:hover{
	color: #eee;
	height: 20px;
	padding: 3px;
	background: #222; /* Old browsers */
	background: -moz-linear-gradient(top, #000000 0%, #222 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #000000 0%,#222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #000000 0%,#222 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #000000 0%,#222 100%); /* IE10+ */
	background: linear-gradient(to bottom, #000000 0%,#222 100%); /* W3C */
}
.btn{
	border-radius: 3px;
	border: 1px solid #000;
	padding: 3px;
	margin-top: 10px;
	color: #eee;
	cursor: pointer;
	background: #111; /* Old browsers */
	background: -moz-linear-gradient(top, #444 0%, #111 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444), color-stop(100%,#111)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #444 0%,#111 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #444 0%,#111 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #444 0%,#111 100%); /* IE10+ */
	background: linear-gradient(to bottom, #444 0%,#111 100%); /* W3C */
}
.btn-large{
	height: 40px;
	padding: 6px;
}
.btn-primary{
	color: #eee;
	font-size: 1.5em;
	border-radius: 8px;
	border: 1px solid #999;
}
.form-container{
	background-color: #e0e0e0;
	border-radius: 6px;
	text-align: center;
	margin-top: 3px;
	padding: 100px 20px 100px 20px;
	
}
.inner-form{
	margin: 20px auto 0px auto;
	width: 300px;
	text-align: left;
}
.textbox{
	border-radius: 3px;
	border: 1px solid #111;
	width: 200px;
	height: 20px;
	margin: 3px;
}
.container{
	background-color: #e0e0e0;
	border-radius: 6px;
	margin: 6px 3px 0px 3px;
	padding: 20px 10px 20px 10px;
	opacity: 1;
}
.vr{
	width:0;
	height: 100px;
	border: 1px inset #eeeeee;
}
.vr-nav{
	width: 0px;
	height: 24px;
	margin: 0px 0 0 0;
	border: 1px inset #333;
}
.form-error{
	color: red;
}
.errorlist{
	color: red;
}
.flash-box{
	max-width: 1000px;
	border-radius: 0 0 6px 6px;
	position: absolute;
	margin-left: 30px;
	box-shadow: 2px 2px 3px #888888;
	z-index: 100;
}
.flash{
	
}
.green{
	color: green;
}
.red{
	color: red;
}
.info{
	background-color: #e0e0e0;
	border: 2px solid #e0e0e0;
	border-top: 0px;
	color: #111;
	padding: 3px;
	width: 100%;
	border-radius: 0 0 6px 6px;
}
.success{
	background-color: #d5ffd5;
	border: 2px solid green;
	border-top: 0px;
	color: green;
	padding: 3px;
	width: 100%;
	border-radius: 0 0 6px 6px;
}
.warning{
	background-color: #e0e0e0;
	border: 2px solid #e0e0e0;
	border-top: 0px;
	color: red;
	padding: 3px;
	width: 100%;
	border-radius: 0 0 6px 6px;
}
.error{
	background-color: #ffbfbf;
	border: 2px solid red;
	border-top: 0px;
	color: red;
	padding: 3px;
	width: 100%;
	border-radius: 0 0 6px 6px;
}
.inactive{
	color: gray;
}
.vortex{
	padding: 20px 10px 20px 10px;
}




