{% extends "base.html" %}
{% block title %}Employees{% endblock %}
{% block extrahead %}
{% endblock %}
{% block content %}
   <div id="employeelist" class="container left">
      <ul id="employee-cats">
		   <li><p><a href="/employees/upper-management" >Upper Management</a></p></li>
		   <li><p><a href="/employees/production-managers">Production Managers</a></p></li>
		   <li><p><a href="/employees/draftsmen">Draftsmen</a></p></li>
		   <li><p><a href="/employees/machine-technicians">Machine Technicians</a></p></li>
		   <li><p><a href="/employees/model-builders">Model Builders</a></p></li>
		</ul>
		<p>{{ q }}</p>
   </div>
{% endblock %}
