{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block extrahead %}
	<link rel="stylesheet", type="text/css", href="/static/css/form.css">
{% endblock %}
{% block content %}
<div class="box horizontal">
	<div id="singleemployee" class="container box">
		<!--<img{#% if employee.pic.url %}src="{#{ employee.pic.url }}"{#% else %}src="{#{ STATIC_URL }}img/default-profile-pic.png"{#% endif %} />-->
		<h1>{% if user.employee.username == employee.username %}Welcome to your profile, {% endif %}{{ employee.name }}</h1>
		{% if user.employee.job == 'P' or user.employee.job == 'D' or user.employee.job == 'T' or user.employee.job == 'B' %}
		<p>Username: {{ employee.username }}</p>
		<p>Job: {{ employee.get_job_display }}</p>
		{% endif %}
		{% if user.employee.username == employee.username %}
			<form id="status-form" action="/employees/set-status/{{ user.username }}/" method="post">
				{% csrf_token %}
				<label for="status">Status: </label>
				<select name="status" id="status" class="dropdown" onchange="document.getElementById('status-form').submit()">
				  <option {% if user.employee.status == 'A' %}selected="selected" {% endif %}value="Available">Available</option>
				  <option {% if user.employee.status == 'U' %}selected="selected" {% endif %}value="Unavailable">Unavailable</option>
				</select>
			</form>
			<br />
		
		{% else %}
			{% if employee %}
			<p>Current Projects:
				<ol class="center">
					{% for project in projects %}
						<li><a href="/projects/{{ project.slug }}">{{ project }}</a></li>
					{% endfor %}
				</ol>
			</p>
			<br />
			{% endif %}
			
		{% endif %}
		{% block extracontent %}
		{% endblock %}
	</div>
	{% if user.employee.username == employee.username and user.employee.job != 'M' %}
		<aside id="queue" class="container box">
			<h4>Current Projects</h4>
			<ol class="center">
				{% for project in projects %}
					<li><a href="/projects/{{ project.slug }}">{{ project }}</a></li>
				{% endfor %}
			</ol>
			<br />
			<h4>Pending Projects</h4>
			<ol class="center">
				{% for pend in pending %}
					<li><a href="/projects/{{ pend.slug }}">{{ pend }}</a></li>
				{% endfor %}
			</ol>
		</aside>
	{% endif %}
</div>
{% endblock %}
