{% extends "base.html" %}
{% block title %}Project Summary{% endblock %}
{% block extrahead %}
{% endblock %}
{% block content %}
	<div id="singleprojectinfo" class="container box">
		<h3>{{ project }}: {{ project.percent_complete }}% Complete</h3>
		<p>{% if project.status == 'I' or project.status == 'C' %}<b class="green">{% elif project.status == 'P' %}<b class="red">{% endif %}Status:</b> {{ project.get_status_display }}(
      {% if not project.accepted %}
      	{% if project.productionManager.username == user.username %}<b class="red">{% endif %}
      			{{ project.productionManager.name }}
      		</b>
      {% else %}
      	{% if project.stl == None or project.dxf == None or project.draftRejected%}
      		{% if project.draftsman.username == user.username %}<b class="red">{% endif %}
      			{{ project.draftsman.name }}
      		</b>
      	{% elif project.stl != None and project.dxf != None and not project.draftApproved %}
      		{% if project.productionManager.username == user.username %}<b class="red">{% endif %}
      			{{ project.productionManager.name }}
      		</b>
      	{% elif project.modelImgTop == None or project.modelImg34 == None or project.modelImgFront == None or project.modelImgRight == None or project.modelRejected %}
      		{% if project.modelBuilder.username == user.username %}<b class="red">{% endif %}
      			{{ project.modelBuilder.name }}
      		</b>
      	{% elif project.modelImgTop != None and project.modelImg34 != None and project.modelImgFront != None and project.modelImgRight != None and project.modelApproved != True %}
      		{% if project.productionManager.username == user.username %}<b class="red">{% endif %}
      			{{ project.productionManager.name }}
      		</b>
      	{% elif project.finalApproved %}
      		:D
      	{% endif %}
		{% endif %}      
      )</p>
      <br>
      
	<div id="accordion">
		<!--GENERAL----------------------------------------------------->
		<h3>General</h3>
      <div id="accordion-tab general-tab">
      	<p>Project Deadline: {{ project.deadline }}</p>
      	<p>Production Manager in charge: {% if project.productionManager != None %}<a href="/employees/production-managers/{{ project.productionManager.username }}">{{ project.productionManager }}</a>{% else %}None{% endif %}</p>
      {% if project.accepted %}
		   <p>Project draftsman: {% if project.draftsman != None %}<a href="/employees/draftsmen/{{ project.draftsman.username }}">{{ project.draftsman }}</a>{% else %}None{% endif %}</p>
		   <p>Project machine technician: {% if project.machineTech != None %}<a href="/employees/machine-technicians/{{ project.machineTech.username }}">{{ project.machineTech }}</a>{% else %}None{% endif %}</p>
		   <p>Project model builder: {% if project.modelBuilder != None %}<a href="/employees/model-builders/{{ project.modelBuilder.username }}">{{ project.modelBuilder }}</a>{% else %}None{% endif %}</p>
		{% endif %}
			<p>Patent Image: {% if project.patentFile.url != None %}<a href="{{ project.patentFile.url }}"><br /><img class="thumb" src="{{ project.patentFile.url }}" /></a>{% else %}None{% endif %}</p>
		</div>
		
		<!--DRAFTS----------------------------------------------------->
		{% if project.accepted %}	
		<h3>{% if project.draftApproved %}<b class="green">{% elif project.stl == None or project.dxf == None or project.draftRejected %}<b class="red">{% endif %}Drafts:</b>{% if project.draftApproved %} Approved{% elif project.draftRejected %} Rejected{% endif %}</h3>
			<div>
		   <p>Stl File: {% if project.stl != None %}<a href="{{ project.stl.stl.url }}">download</a>{% else %}None{% endif %}</p>
		   <p>Dxf File: {% if project.dxf != None %}<a href="{{ project.dxf.dxf.url }}">download</a>{% else %}None{% endif %}</p>
		   {% if project.draftsman.username == user.username or project.productionManager.username == user.username and project.accepted %}
				<a href="/projects/draft-upload/{{ project.slug }}/"><input class="btn" type="button" value="Upload Draft Files"></a>
			{% endif %}
			</div>
		
		<!--MODEL----------------------------------------------------->
		{% if project.draftApproved %}	
		<h3>{% if project.modelApproved %}<b class="green">{% elif project.modelImgTop == None or project.modelImg34 == None or project.modelImgFront == None or project.modelImgRight == None  or project.modelRejected %}<b class="red">{% endif %}Model:</b>{% if project.modelApproved %} Approved{% elif project.modelRejected %} Rejected{% endif %}</h3>
		<div id="model-images">
			<div id="singleproject-row" class="horizontal box">
		   <div id="exampleView" class="fill box modelView">
		   	<h3>Model Images:</h3>
		   	<img class="thumb" src="{{ STATIC_URL }}img/blender-mesh-cube.png" alt="Model Images">
		   </div>
		   {% if project.modelImgTop != None %}
				<div id="topView" class="container box modelview">
					<p>Model Top View: {% if project.modelImgTop.image.url != None %}
						<a href="{{ project.modelImgTop.image.url }}"><br />
						<img class="thumb" src="{{ project.modelImgTop.image.url }}" /></a>
					{% else %}None{% endif %}</p>
				</div>
			{% endif %}
			{% if project.modelImg34 != None %}
				<div id="view34" class="container box modelview">
					<p>Model 3/4 View: {% if project.modelImg34.image.url != None %}
						<a href="{{ project.modelImg34.image.url }}"><br />
						<img class="thumb" src="{{ project.modelImg34.image.url }}" /></a>
					{% else %}None{% endif %}</p>
				</div>
			</div>
			{% endif %}
			{% if project.modelImgLeft != None %}
			<div id="singleproject-row" class="horizontal box">
				<div id="leftView" class="container box modelview">
					<p>Model Left View: {% if project.modelImgLeft.image.url != None %}
						<a href="{{ project.modelImgLeft.image.url }}"><br />
						<img class="thumb" src="{{ project.modelImgLeft.image.url }}" /></a>
					{% else %}None{% endif %}</p>
				</div>
			{% else %}
				<div class="fill"></div>
			{% endif %}
			{% if project.modelImgFront != None %}
				<div id="frontView" class="container box modelview">
					<p>Model Front View: {% if project.modelImgFront.image.url != None %}
						<a href="{{ project.modelImgFront.image.url }}"><br />
						<img class="thumb" src="{{ project.modelImgFront.image.url }}" /></a>
					{% else %}None{% endif %}</p>
				</div>
			{% endif %}
			{% if project.modelImgRight != None %}
				<div id="rightView" class="container box modelview">
					<p>Model Right View: {% if project.modelImgRight.image.url != None %}
						<a href="{{ project.modelImgRight.image.url }}"><br />
						<img class="thumb" src="{{ project.modelImgRight.image.url }}" /></a>
					{% else %}None{% endif %}</p>
				</div>
			{% endif %}
			</div>
			{% if project.modelBuilder.username == user.username or project.productionManager.username == user.username and project.accepted %}
			<a href="/projects/model-upload/{{ project.slug }}/"><input class="btn" type="button" value="Upload Model Images"></a>
			{% endif %}
		</div>
		{% endif %}
		{% endif %}
		
		{% if project.productionManager.username == user.username and not project.finalApproved %}
		<!--EDIT----------------------------------------------------->
		<h3>Approve Stuff</h3>
			<div>
				{% if not project.accepted %}
					<form action="/projects/accept/{{ project.slug }}/" method="post">
						{% csrf_token %}
						<input type="submit" value="Accept Project" class="btn" />
					</form>
				{% else %}
					<form action="/projects/approve-draft/{{ project.slug }}/" method="post">
						{% csrf_token %}
						<input type="submit" value="Approve Drafts" class="btn" />
					</form>
					<form action="/projects/reject-draft/{{ project.slug }}/" method="post">
						{% csrf_token %}
						<input type="submit" value="Reject Drafts" class="btn" />
					</form>
					{% if project.draftApproved %}
					<form action="/projects/approve-prototype/{{ project.slug }}/" method="post">
						{% csrf_token %}
						<input type="submit" value="Approve Prototype Parts" class="btn" />
					</form>
					<form action="/projects/reject-prototype/{{ project.slug }}/" method="post">
						{% csrf_token %}
						<input type="submit" value="Reject Prototype" class="btn" />
					</form>
					{% endif %}
					{% if project.prototypeApproved %}
					<form action="/projects/approve-model/{{ project.slug }}/" method="post">
						{% csrf_token %}
						<input type="submit" value="Approve Model" class="btn" />
					</form>
					<form action="/projects/reject-model/{{ project.slug }}/" method="post">
						{% csrf_token %}
						<input type="submit" value="Reject Model" class="btn" />
					</form>
					{% endif %}
					{% if project.draftApproved and project.prototypeApproved and project.modelApproved %}
					<form action="/projects/final-approve/{{ project.slug }}/" method="post">
						{% csrf_token %}
						<input type="submit" value="Final Approve Entire Project" class="btn" />
					</form>
					{% endif %}
				{% endif %}
			</div>
			{% endif %}
			
		<!--COMMENTS------------------------------------------------>
		<h3>Comments</h3>
			<div>
				<ol id="comments">
				{% for comment in comments %}
					<li id="comment">
						<p><!<a href="{#% get_template_profile_link comment.sender.username comment.sender.job %}"><a href="/employees/production-managers/{{ comment.sender.username }}">{{ comment.sender }}</a>({{ comment.sender.get_job_display }}):</p>
						<p>{{ comment.content }}</p>
						<sub>{% if comment.created_at != comment.updated_at %}Updated at: {{ comment.updated_at }}{% else %}Posted at: {{ comment.created_at }}{% endif %}</sub>
					</li>
				{% endfor %}
				</ol>
				{% if project.productionManager.username == user.username and not project.finalApproved %}
				<form action="" method="post">
					{% csrf_token %}
					{% if form.content.errors %}<p class="form-error">{{ form.content.errors }}</p>{% endif %}
					<label for="content"{% if form.content.errors %} class="form-error"{% endif %}>Message:</label>
					{{ form.content }}
					<input class="btn" type="submit" value="Add Comment">
				</form>
				{% endif %}
			</div>
      </div>
   </div>
{% endblock %}
